@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

/*#spin_a_sale_cc_store_front_module .peg,
#spin_a_sale_cc_store_front_module .wheelSVG {
    visibility: hidden
}*/

.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.animated.infinite {
    animation-iteration-count: infinite
}

.animated.hinge {
    animation-duration: 2s
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }
    50% {
        opacity: 1
    }
}

.zoomIn {
    animation-name: zoomIn
}

@keyframes shake {
    from, to {
        transform: translate3d(0, 0, 0)
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0)
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0)
    }
}

.shake {
    animation-name: shake
}

/*#spin_a_sale_cc_store_front_module .wheelContainer {
    margin: 0;
    padding: 0;
    text-align: center
}*/

#spin_a_sale_cc_store_front_module a:active,
#spin_a_sale_cc_store_front_module a:hover,
#spin_a_sale_cc_store_front_module a:link,
#spin_a_sale_cc_store_front_module a:visited {
    color: #F1DC16
}

#spin_a_sale_cc_store_front_module .centerCircle,
#spin_a_sale_cc_store_front_module .valueContainer,
#spin_a_sale_cc_store_front_module .wheelOutline,
#spin_a_sale_cc_store_front_module .wheelText {
    pointer-events: none
}

#spin_a_sale_cc_store_front_module .btn-submit-form-ok,
#spin_a_sale_cc_store_front_module .form-group input {
    background: #ffffff;
    color: #384f66
}

/*#spin_a_sale_cc_store_front_module .wheelContainer {
    float: left
}*/

#spin_a_sale_cc_store_front_module .wheelText {
    text-anchor: middle;
    -webkit-user-select: none;
    user-select: none
}

#spin_a_sale_cc_store_front_module .toast {
    display: none
}

/*#spin_a_sale_cc_store_front_module .signupContainer,
#spin_a_sale_cc_store_front_module .winContainer, #spin_a_sale_cc_store_front_module .loseContainer {
    width: 64%;
    float: right;
    padding: 0 60px
}*/

div#cc-spin-a-sale-powered-by-carecart {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

#spin_a_sale_cc_store_front_module .signupContainer p {
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 0;
    text-align: left;
    color: #fff;
}

#spin_a_sale_cc_store_front_module .singup-logo {
    max-width: 200px;
    max-height: 50px;
}

#spin_a_sale_cc_store_front_module .text-heading {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0 !important;
    
}

#spin_a_sale_cc_store_front_module p.text-description {
    color: #fff;
    margin-top: 0;
    padding-top: 0;
}

#spin_a_sale_cc_store_front_module .form-group {
    margin: 0px auto 15px;
    /*width: 100%;
    max-width: 400px;
    display: inline-flex*/
}

#spin_a_sale_cc_store_front_module .form-group input {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
    border-radius: 2px;
    border: 0;
    height: 40px;
    font-weight: 700;
    outline: 0
}

#spin_a_sale_cc_store_front_module .btn-submit-form,
#spin_a_sale_cc_store_front_module .btn-submit-form-ok,
#spin_a_sale_cc_store_front_module .copy-button {
    border: 0;
    background: #ffffff;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    color: #384f66;
    cursor: pointer;
    outline: 0
}

#spin_a_sale_cc_store_front_module .textInfo {
    font-size: 11px;
    font-weight: 400;
    color: #ffffff
}

#spin_a_sale_cc_store_front_module #overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: #384f66;
    z-index: 1000
}

/*#spin_a_sale_cc_store_front_module .wheelContainer,
#spin_a_sale_cc_store_front_module .wheelSVG {
    overflow: visible !important;
    position: absolute;
    height: 100%
}*/

#spin_a_sale_cc_store_front_module #overlay p {
    padding-top: 30%;
    font-size: 30px
}

#spin_a_sale_cc_store_front_module .wheelContainer {
    /*max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 1;
    width: 65%;*/
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    position: absolute;
    width: 65%;
    left: 0;
}

#spin_a_sale_cc_store_front_module .ContentRight {
    flex: 0 0 55%;
    margin-left: auto;
    margin-right: 40px;
}

#spin_a_sale_cc_store_front_module .wheelSVG {
    overflow: visible;
    transform: rotate(55deg);
    position: absolute;
    width: 100%;
	height: auto;
    top: 0;
    bottom: 0;
    margin: auto;
}

#spin_a_sale_cc_store_front_module .wheelLogo {
    transform: rotate(-55deg);
    transform-origin: 512px 383px
}

#spin_a_sale_cc_store_front_module .coupon,
#spin_a_sale_cc_store_front_module .win_text {
    font-style: italic;
    text-decoration: underline
}


#spin_a_sale_cc_store_front_module .signupContainer {
    padding-top: 0 !important;
}

#spin_a_sale_cc_store_front_module .winContainer, #spin_a_sale_cc_store_front_module .loseContainer {
    padding-top: 0 !important;
}

#spin_a_sale_cc_store_front_module .loseContainer {
    padding-top: 0 !important;
}

#spin_a_sale_cc_store_front_module.wrapper-spinner {
    width: 40%;
    min-width: 768px;
    height: 100%;
    box-shadow: 5px 0 100px 0 #251217;
    color: #fff;
    z-index: 999999999999999999999;
    position: fixed;
    top: 0;
    bottom: 0;
}

#spin_a_sale_cc_store_front_module .content-spinner {
    background-color: #2699fb;
    display: flex;
    align-items: safe center;
    height: 100%;
    /*overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    left: 0;
    position: relative;
    z-index: 1;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    background-repeat: no-repeat;*/
}

#spin_a_sale_cc_store_front_module .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999999999999999999999;
    padding: 8px 12px;
}

#spin_a_sale_cc_store_front_module .closeButton i {
    font-size: 20px;
    color: #fff;
}

#spin_a_sale_cc_store_front_module .checkbox {
    padding: 5px 0 15px 1px;
    text-align: left;
    text-indent: 5px;
    line-height: 1.2;
}


/*trigger button*/


#spin-trigger-cc, #spin-trigger-cc:active, #spin-trigger-cc:focus, #spin-trigger-cc:hover, #spin-trigger-cc:visited {
    bottom: 30px;
    right: 40px;
    position: fixed;
    text-decoration: none;
    opacity: 1;
    outline: 0;
    display: none;
    z-index: 99999999;
}

#spin-trigger-cc span {
    border-radius: 2px;
    margin-top: 0;
    margin-right: -20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    padding-right: 30px;
    padding-left: 15px;
    background: #2699fb;
    color: #fff;
}

#spin-trigger-cc img {
    width: 40px;
    background: #2699fb;
    border-radius: 100%;
    padding: 0;
}

#spin-trigger-cc img, #spin-trigger-cc span {
    height: 40px;
    float: left;
    box-shadow: 1px 1px 6px #251217;
}

span#cc-spin-a-sale-consent-text {
    color: #fff !important;
    text-transform: initial;
    font-size: 16px;
    font-weight: 500;
}

.content-spinner input {
    margin-bottom: 0
}

.signupContainer .checkbox label {
    display: flex
}

.signupContainer .checkbox input {
    margin-right: 4px;
}

input[type="checkbox"], input[type="radio"] {
    margin-top: 1px
}

img.content-spinner {
    background-size: contain !important
}

.LoaderOnClick {
    position: relative;
}

.loaderBox {
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@-webkit-keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

@keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

.spinner-border {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite; }

/*@media only screen and (min-width: 769px) {
    div#cc-spin-a-sale-powered-by-carecart {
        padding: 0 0px 0px 30%;
    }
    
}*/

/* *************** Start - Urgency Timer Bar **************	*/
#couponwheel_notice_content {
    background-color: #ffd400;
    color: #000000;
}

#couponwheel_notice_content {
    position: fixed;
    left: 0;
    right: 0;
    padding: 0.8em;
    font-size: 1.1em;
    line-height: 1.2em;
    text-align: center;
    z-index: 100000;
    box-sizing: border-box;
}

#couponwheel_notice_content > span {
    margin-right: 0.5em;
}

#couponwheel_notice_close_btn {
    user-select: none;
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
}

.bar-bottom {
    bottom: 0;
}

.bar-top {
    top: 0 !important;
}

a#couponwheel_notice_close_btn:hover {
    color: #000;
}

/* *************** End - Urgency Timer Bar **************	*/
/****************** START - timer function css ***************/
.cc-spin-a-sale-clock-div {
    width: 100%;
}

.cc-spin-a-sale-clock-div > div {
    padding: 0 5px;
    display: inline-block;
    position: relative;
}

.cc-spin-a-sale-clock-div > div:after {
    content: ":";
    position: absolute;
    right: -3px;
    top: 0;
    color: #2F2700;
    font-weight: 600;
    font-size: 1.125rem;
}

.cc-spin-a-sale-clock-div > div:last-child:after {
    display: none;
}

.cc-spin-a-sale-clock-div div > span {
    color: #2F2700;
    font-size: 18px;
    display: inline-block;
}

/****************** End - timer function css ***************/

/*-- spin-store-front-view style--*/
.cc-spin-a-sale-spinner-progress-bar {
    color: #ffffff;
    font-size: 14px;
    display: block;
    width: 100%;
    float: right;
    text-align: center;
}

.cc-spin-a-sale-couponwheel_offers_progressbar {
    background-color: rgb(230, 230, 230);
    margin-top: 1em;
    padding: 1px;
    border-radius: 2px;
    width: 100%
}

.cc-spin-a-sale-spinner-progress-bar-inner {
    width: 70%;
    background-color: #9acd32;
    height: .66em;
    border-radius: 2px;
}

.cc-spin-a-sale-couponwheel_offers_text {
    text-align: left;
    margin-top: 2px
}

#spin_a_sale_cc_store_front_module .btn-submit-form, #spin_a_sale_cc_store_front_module .btn-submit-form-ok, #spin_a_sale_cc_store_front_module .copy-button {
    width: 100%;
}

.signupContainer .checkbox input {
    margin-right: 4px;
    align-self: baseline;
}

/*.btn-submit-form, .btn-submit-form-ok {
    width: 100%;
    max-width: 370px;
    border: 0;
}

.cc-spin-a-sale-spinner-progress-bar {
    width: 100%;
    max-width: 370px;
    border: 0;
}
*/

@media only screen and (max-width: 991px) {
    #spin_a_sale_cc_store_front_module.wrapper-spinner {
        width: 100%;
        min-width: 100%;
    }
    
    #spin_a_sale_cc_store_front_module .content-spinner {
        padding: 35px 15px;
        width: 100%;
        min-width: 100%;
        overflow: auto;
    }
    
    #spin_a_sale_cc_store_front_module .wheelContainer {
        position: absolute !important;
        transform: translate(-50%, -50%) !important;
        width: 45% !important;
        bottom: inherit !important;
        right: inherit !important;
    }
    
    #spin_a_sale_cc_store_front_module .wheelSVG {
        transform: translate(-50%) matrix(0.57358, 0.81915, -0.81915, 0.57358, 0, 0) !important;
    }
    
    #spin_a_sale_cc_store_front_module .ContentRight {
        flex: 0 0 65%;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    #spin_a_sale_cc_store_front_module .closeButton {
        margin-right: 10px;
        margin-top: 5px;
    }
}

/*@media only screen and (min-width: 576px) and (max-width: 767px) {
    #spin_a_sale_cc_store_front_module .wheelContainer {
        position: absolute !important;
        transform: translate(-50%, -50%) !important;
        width: 45% !important;
        bottom: inherit !important;
        right: inherit !important;
    }
    #spin_a_sale_cc_store_front_module .wheelSVG {
        transform: translate(-50%) matrix(0.57358, 0.81915, -0.81915, 0.57358, 0, 0) !important;
    }
    #spin_a_sale_cc_store_front_module .ContentRight {
        flex: 0 0 65%;
    }
    #spin_a_sale_cc_store_front_module .closeButton {
        margin-right: 40px;
        margin-top: 10px;
    }
}*/
@media only screen and (max-width: 575px) {
    #spin_a_sale_cc_store_front_module .ContentRight {
        margin-right: auto;
        order: 1;
        max-width: 400px;
        min-height: 530px;
    }
    
    #spin_a_sale_cc_store_front_module .wheelContainer {
        position: static !important;
        order: 2;
        transform: none !important;
        width: 85% !important;
        max-width: 400px;
    }
    
    #spin_a_sale_cc_store_front_module .content-spinner {
        flex-direction: column;
        overflow: auto;
    }
    
    #spin_a_sale_cc_store_front_module .wheelSVG {
        position: static !important;
        transform: translateY(-50px) !important;
    }
    
    #spin_a_sale_cc_store_front_module .btn-submit-form,
    #spin_a_sale_cc_store_front_module .btn-submit-form-ok,
    #spin_a_sale_cc_store_front_module .copy-button {
        width: 100%;
    }
    
    #spin_a_sale_cc_store_front_module .closeButton {
        padding: 15px 15px;
    }
    
    .cc-spin-a-sale-couponwheel_offers_progressbar {
        margin-top: 0 !important
    }
    
    #spin_a_sale_cc_store_front_module .signupContainer p {
        padding-right: 0;
    }
    
    #spin_a_sale_cc_store_front_module .checkbox {
        padding: 5px 0 15px 1px;
    }
}

@media only screen and (max-width: 320px) {
    #spin_a_sale_cc_store_front_module .checkbox {
        padding: 0 0 5px 1px;
    }
}

/*-- spin-store-front-view style end--*/
