@import  url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
#spin_a_sale_cc_store_front_module .peg,
#spin_a_sale_cc_store_front_module .wheelSVG {
    visibility: hidden
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}
.animated.infinite {
    animation-iteration-count: infinite
}
.animated.hinge {
    animation-duration: 2s
}
@keyframes  zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }
    50% {
        opacity: 1
    }
}
.zoomIn {
    animation-name: zoomIn
}
@keyframes  shake {
    from, to {
        transform: translate3d(0, 0, 0)
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0)
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0)
    }
}
.shake {
    animation-name: shake
}
#spin_a_sale_cc_store_front_module .wheelContainer
{
    margin: 0;
    padding: 0;
    text-align: center
}
#spin_a_sale_cc_store_front_module a:active,
#spin_a_sale_cc_store_front_module a:hover,
#spin_a_sale_cc_store_front_module a:link,
#spin_a_sale_cc_store_front_module a:visited {
    color: #F1DC16
}
#spin_a_sale_cc_store_front_module .centerCircle,
#spin_a_sale_cc_store_front_module .valueContainer,
#spin_a_sale_cc_store_front_module .wheelOutline,
#spin_a_sale_cc_store_front_module .wheelText {
    pointer-events: none
}

#spin_a_sale_cc_store_front_module .btn-submit-form-ok,
#spin_a_sale_cc_store_front_module .form-group input {
    background: #ffffff;
    color: #384f66
}
/*body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: background .5s ease;
    color: #fff;
}*/

#spin_a_sale_cc_store_front_module .wheelContainer {
    float: left
}
#spin_a_sale_cc_store_front_module .wheelText {
    text-anchor: middle;
    -webkit-user-select: none;
    user-select: none
}
#spin_a_sale_cc_store_front_module .toast {
    display: none
}
/* @media  only screen and (max-height: 480px) {
    #spin_a_sale_cc_store_front_module .wheelContainer {
        top: 70px
    }
} */
/* faheem changes */
#spin_a_sale_cc_store_front_module .signupContainer,
#spin_a_sale_cc_store_front_module .winContainer, #spin_a_sale_cc_store_front_module .loseContainer {
    flex: 0 0 55%;
    margin-left: auto;
    margin-right: 40px;
}
@media  only screen and (max-width: 991px) {
    #spin_a_sale_cc_store_front_module .signupContainer,
#spin_a_sale_cc_store_front_module .winContainer, #spin_a_sale_cc_store_front_module .loseContainer {
    flex: 0 0 65%;
    margin-top: auto;
    margin-bottom: auto;
    }
    #spin_a_sale_cc_store_front_module .wheelSVG{
        transform: translate(-50%) matrix(.57358,.81915,-.81915,.57358,0,0) !important;
    }
}
@media  only screen and (max-width: 575px) {
    #spin_a_sale_cc_store_front_module .signupContainer,
#spin_a_sale_cc_store_front_module .winContainer, #spin_a_sale_cc_store_front_module .loseContainer {
    margin-right: auto;
    order: 1;
    max-width: 400px;
    min-height: 400px;
    }
    #spin_a_sale_cc_store_front_module .wheelSVG{
        position: static !important;
        transform: translateY(-50px) !important;
    }
}
/* end */
/* #spin_a_sale_cc_store_front_module .signupContainer,
#spin_a_sale_cc_store_front_module .winContainer, #spin_a_sale_cc_store_front_module .loseContainer {
    width: 64%;
    float: right;
    padding: 0 3%
} */
/* #spin_a_sale_cc_store_front_module .signupContainer p{
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 90px;
    text-align: left;
    color: #fff;
} */
/* faheem changes */
#spin_a_sale_cc_store_front_module .signupContainer p{
margin-bottom: 10px;
padding-left: 0;
padding-right: 0;
text-align: left;
color: #fff;
}
/* end */
#spin_a_sale_cc_store_front_module .singup-logo {
    max-width: 200px;
    max-height: 50px;
}
#spin_a_sale_cc_store_front_module .text-heading {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0 !important;

}
#spin_a_sale_cc_store_front_module p.text-description {
    color: #fff;
    /* font-size: 18px; */
    /* line-height: 22px; */
    margin-top: 0;
    padding-top: 0;
}
#spin_a_sale_cc_store_front_module .form-group {
    margin: 0px auto 15px;
    width: 100%;
    /* max-width: 400px; */
    max-width: 100%;
    display: inline-flex
}
#spin_a_sale_cc_store_front_module .form-group input {
    width: 100%;
    /* max-width: 370px; */
    max-width: 100%;
    padding: 0 15px;
    border-radius: 2px;
    border: 0;
    height: 40px;
    font-weight: 700;
    outline: 0
}
#spin_a_sale_cc_store_front_module .btn-submit-form,
#spin_a_sale_cc_store_front_module .btn-submit-form-ok,
#spin_a_sale_cc_store_front_module .copy-button {
    border: 0;
    background: #ffffff;
    border-radius: 2px;
    width: 100%;
    height: 37px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    color: #384f66;
    cursor:pointer;
    outline:0
}
#spin_a_sale_cc_store_front_module .textInfo {
    font-size: 11px;
    font-weight: 400;
    color: #ffffff
}
#spin_a_sale_cc_store_front_module #overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: #384f66;
    z-index: 1000
}
#spin_a_sale_cc_store_front_module .wheelContainer,
#spin_a_sale_cc_store_front_module .wheelSVG {
    overflow: visible!important;
    position: absolute;
    height: 100%
}
#spin_a_sale_cc_store_front_module #overlay p {
    padding-top: 30%;
    font-size: 30px
}
/* faheem changes */
#spin_a_sale_cc_store_front_module .wheelContainer {
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%,-50%);
    position: absolute;
    width: 65%;
    left: 0;
   
}
@media  only screen and (max-width: 991px) {
    #spin_a_sale_cc_store_front_module .wheelContainer {
        position: absolute !important;
        transform: translate(-50%,-50%) !important;
        width: 45% !important;
        bottom: inherit !important;
        right: inherit !important;
    }
}
@media  only screen and (max-width: 575px) {
    #spin_a_sale_cc_store_front_module .wheelContainer {
        position: static !important;
        order: 2;
        transform: none !important;
        width: 85% !important;
        max-width: 400px;
    
    }
}
/* end */
/* #spin_a_sale_cc_store_front_module .wheelContainer {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 1;
    left: 3%;
    width: 65%;
    margin-top: 0
} */
#spin_a_sale_cc_store_front_module .wheelSVG {
    padding: 5px;
    width: 100%;
    transform: rotate(55deg)
}
#spin_a_sale_cc_store_front_module .wheelLogo {
    transform: rotate(-55deg);
    transform-origin: 512px 383px
}
#spin_a_sale_cc_store_front_module .coupon,
#spin_a_sale_cc_store_front_module .win_text {
    font-style: italic;
    text-decoration: underline
}


#spin_a_sale_cc_store_front_module .signupContainer {
    padding-top: 0 !important;
}
#spin_a_sale_cc_store_front_module .winContainer, #spin_a_sale_cc_store_front_module .loseContainer{
    padding-top: 0 !important;
}

#spin_a_sale_cc_store_front_module .loseContainer {
    padding-top: 0 !important;
}

/* #spin_a_sale_cc_store_front_module.wrapper-spinner { */
    /* top: 0%;
    width: 40%;
    min-width: 800px;
    height: 100%;
    overflow: visible;
    display: table; */
    /*position: absolute;*/
    /* position: fixed;
    box-shadow: 5px 0 100px 0 #251217;
    color: #fff;
    z-index: 9999;
    font-family: inherit; */
/* } */
/* faheem changes */
#spin_a_sale_cc_store_front_module.wrapper-spinner{
    width: 40%;
    min-width: 768px;
    height: 100%;
    box-shadow: 5px 0 100px 0 #251217;
    color: #fff;
    z-index: 999999999999999999999;
    position: fixed;
    top: 0;
    bottom: 0;
}
#spin_a_sale_cc_store_front_module .content-spinner{
    background-color: #2699fb;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: safe center;
    height: 100%;
}
@media only screen and (max-width: 991px) {
    #spin_a_sale_cc_store_front_module .content-spinner{
        padding: 35px 15px;
        width: 100%;
        min-width: 100%;
        overflow: auto;
    }
}
@media only screen and (max-width: 575px) {
    #spin_a_sale_cc_store_front_module .content-spinner{
        flex-direction: column;
        overflow: auto;
    }
}

/* end */
/* #spin_a_sale_cc_store_front_module .content-spinner{
    background-color: #2699fb;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    left: 0;
    position: relative;
    z-index: 1;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
} */
#spin_a_sale_cc_store_front_module .closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999999999999;
}
#spin_a_sale_cc_store_front_module .closeButton i {
    font-size: 20px;
    color: #fff;
}
#spin_a_sale_cc_store_front_module .checkbox {
    padding: 5px 0 15px 1px;
    text-align: left;
    text-indent: 5px;
    line-height: 1.2;
}
#spin_a_sale_cc_store_front_module .checkbox label {
    display: flex;
}
#spin_a_sale_cc_store_front_module .checkbox input {
    margin-right: 4px;
    align-self: baseline;
}

/*trigger button*/


#spin-trigger-cc, #spin-trigger-cc:active, #spin-trigger-cc:focus, #spin-trigger-cc:hover, #spin-trigger-cc:visited {
    bottom: 30px;
    right: 100px;
    position: fixed;
    text-decoration: none;
    opacity: 1;
    outline: 0;
    display: none;
    /* z-index: 999999999999999999999; */
    z-index: 99999999;
}
#spin-trigger-cc span {
    border-radius: 2px;
    margin-top: 0;
    margin-right: -20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    padding-right: 30px;
    padding-left: 15px;
    background: #2699fb;
    color: #fff;
}
#spin-trigger-cc img {
    width: 40px;
    background: #2699fb;
    border-radius: 100%;
    padding: 0;
}
#spin-trigger-cc img, #spin-trigger-cc span {
    height: 40px;
    float: left;
    box-shadow: 1px 1px 6px #251217;
}
span#cc-spin-a-sale-consent-text {
    color: #fff !important;
    text-transform: initial;
    font-size: 16px;
    font-weight: 500;
}

@media only screen and (max-width: 767px) {
    #spin_a_sale_cc_store_front_module.wrapper-spinner {
        width: 100% !important;
        min-width: auto;
    }
    #spin_a_sale_cc_store_front_module .content-spinner {
        vertical-align: top;
        padding: 100px 10px;
    }
}
